* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

/* #box{
    height: 200px;
    width: 200px;
    background-color: rgb(0,0,0);
    border: 2px solid white;
    border-radius: 10px;
} */

h1{
    font-size: 70px;
    background-color: rgb(113, 170, 255);
    padding: 40px 50px;
    border-radius: 10px;
    font-family: monospace;
}

button {
    padding: 10px 20px;
    background-color: crimson;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 100px;
    font-weight: 600;
    cursor: pointer;
}

button:active{
    scale: 0.95;
    /* background-color: aqua; */
}