* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 209, 209);
}
#container{
    position: relative;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* object-position: top; */
}

#container i{
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: all ease 0.5s;
}