* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

#box{
    height: 100px;
    width: 100px;
    background-color: crimson;
}


h1{
    margin: 10px;
}
button{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: crimson;
}