* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#box{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 149, 149);
    border-radius: 10px;
}

button{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: crimson;
    color: white;
}

button:active{
    scale: 0.95;
}