* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

html {
  font-family: monospace;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  height: 400px;
  width: 300px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 23px;
  background:
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.494), rgba(0, 0, 0, 0)) border-box;
  border: 0.01px solid rgb(64, 64, 64);
  animation: animationRotate 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  transition: all 0.3s linear;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.281);
  color: white;
}

#box:hover {
  animation-play-state: running;
  border: 3px solid rgba(64, 64, 64, 0);
  box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.281);
  text-shadow: 0px 0px 10px rgb(172, 255, 47);

}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes animationRotate {
  from {
    --rotate: 0deg;
  }

  to {
    --rotate: 360deg;
  }
}

#box img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#box h1 {
  color: rgb(172, 255, 47);
  font-weight: 900;
}

#box p {
  /* color: rgb(104, 104, 104); */
}